/* variables */

:root {
  --clr-primary:hsl(211, 100%, 40%);
  --clr-primary-transparent:hsla(211, 100%, 40%, 0.2);
  --clr-accent-1: hsl(0, 100%, 24%);
  --clr-accent-2: hsl(356, 83%, 41%);
  --clr-neutral-200: hsl(229, 38%, 94%);
  --clr-neutral-800: hsl(201, 100%, 14%);

  --clr-marker-1:hsla(129, 36%, 70%, 0.2);
  --clr-marker-2:hsla(356, 83%, 41%, 0.096);
  --clr-marker-3:hsla(51, 83%, 41%, 0.1);

  --ff-primary: 'Be Vietnam Pro', sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-body: 1rem;
  --fs-primary-heading: 2.5rem;
  --fs-secondary-heading: 2.0rem;
  --fs-nav: 0.875rem;
  --fs-button: 1.275rem;

  --size-50: 0.25rem;
  --size-100: 1rem;
  --size-200: 1.25rem;
  --size-300: 1.5rem;
  --size-400: 2rem;
  --size-500: 2.5rem;
  --size-600: 3rem;
  --size-700: 3.5rem;
  --size-800: 4rem;
  --size-900: 5rem;
}

@media (min-width: 50em) {
  :root {
    --fs-body: 1.2rem;
    --fs-primary-heading: 4rem;
    --fs-secondary-heading: 2.5rem;
    --fs-nav: 1rem;
    --fs-button: 1rem;
  }
}

/* Reset: https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    text-decoration-style: underline;
    text-decoration-color: var(--clr-primary-transparent);
    color: var(--clr-primary);
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

img.Kaffee {
    display:inline;
    height:1em;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* utility */

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.container {
  --max-width: 1110px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - var(--padding));
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

.shaded-background {
  background: var(--clr-neutral-200);
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

/* general styling */

body {
  background: linear-gradient(var(--clr-neutral-200) 0%, white 50em);
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-neutral-800);
}

h1 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-primary-heading);
  color: var(--clr-accent-2);
  line-height: 1.1;
}

h2 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-secondary-heading);
  color: var(--clr-accent-2);
  line-height: 1.1;
  margin-bottom:0.2em;
}

h3 {
  font-weight: var(--fw-bold);
  color: var(--clr-accent-2);
  line-height: 1.1;
  margin-bottom:0.2em;
}

p.h2
{
  font-weight: var(--fw-bold);
  color: var(--clr-accent-2);
  line-height: 1.1;
  margin-bottom:0.5em;
}

section {
  margin-top: var(--size-800);
}

strong {
  font-weight: var(--fw-bold);
}

:where(.flow>:not(:first-child)) {
  margin-top: var(--size-200);
}

footer {
  height: var(--size-200);
  background-color: var(--clr-neutral-800);
}

ul {
  margin-left: 1.5em;
  margin-top: 0;
}

/* navigation */

.primary-header {
  background: var(--clr-neutral-800);
}

.logo {
  color: var(--clr-neutral-800);
  text-decoration: none;
  font-size: 2rem;
}

.nav-wrapper {
  display: flex;
  justify-content: right;
  align-items: right;
}

.mobile-nav-toggle {
  display: none;
}

.nav-list {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  font-size: var(--fs-nav);
  font-weight: var(--fw-bold);
  gap: clamp(var(--size-500), 5vw, var(--size-700));
  line-height:3;
}

.nav-list a {
  text-decoration: none;
  color: white;
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--clr-neutral-200);
}

@media (max-width: 50em) {
  .primary-navigation {
    display: none;
    position: absolute;
    padding: var(--size-700);
    inset: var(--size-900) var(--size-400) auto;
    max-width: 35rem;
    margin-inline: auto;
    border-radius: var(--size-50);
    box-shadow: 0 0 .5em rgb(0,0,0,.15), 0 0 0 100vmax rgb(0,0,0,.15);
    background: var(--clr-neutral-800);
  }

  .nav-list {
    display: grid;
    gap: var(--size-600);
    text-align: center;
  }

  .primary-navigation[data-visible] {
    display: block;
  }

  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
  }
  
  .mobile-nav-toggle .icon-hamburger {
    width: 0.8em;
    filter: invert(100%) 
  }
  
  .mobile-nav-toggle .icon-close {
    display: none;
  }
}


/* schedule */

.schedule table {
  width: 100%;
}

.schedule tr {
  background: var(--clr-neutral-200);
}

.schedule thead {
  font-weight: bold;
}

.schedule tr td, .schedule tr th {
  padding: var(--size-100);
}

.schedule th {
  white-space: nowrap;
  width: 1px;
}

.schedule tr.break {
  background: var(--clr-neutral-200);
}

.schedule tr.break td {
  padding: var(--size-50) var(--size-100);
}


.schedule tr.lecture {
  background: var(--clr-marker-1);
}

.schedule tr.practice {
  background: var(--clr-marker-3);
}

.schedule tr.colloquium {
  background: var(--clr-marker-2);
}

.schedule .colloquium .title {
  font-weight: bold;
}
.schedule .abstract {
  font-size: 90%;
}




/* compact schedule */

.compact-schedule {
  overflow-x: auto;
  width: 100%;
}

.compact-schedule table {
    margin: auto;
    border-spacing:0;
}

.compact-schedule th, .compact-schedule td {
  padding: var(--size-200);
  background: var(--clr-neutral-200);
  border: 1px white solid;
}

.compact-schedule tr>th:first-child,.compact-schedule tr>td:first-child {
  position: sticky;
  left: 0;
}

.compact-schedule thead th {
  background: white;
}

.compact-schedule tr td, .compact-schedule tr th{
  background: var(--clr-neutral-200);
}

.compact-schedule tr td:empty {
  background: none;
}


/* buttons */

a.btn {
  background:  var(--clr-accent-2);
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
  margin-bottom:20px;
  border-radius: 10px;
  display: inline-block;
}
